src/main/resources/sdrun.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://stochdiff.textensor.org"
        targetNamespace="http://stochdiff.textensor.org"
        elementFormDefault="qualified">

  <xs:element name="SDRun">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ReactionScheme" />
        <xs:element ref="Morphology" />
        <xs:element ref="InitialConditions" minOccurs="0" />
        <xs:element ref="StimulationSet" minOccurs="0" />
        <xs:element ref="OutputScheme" minOccurs="0" />

        <xs:element ref="runtime" minOccurs="0" />
        <xs:element ref="geometry" minOccurs="0" />
        <xs:element ref="depth2D" minOccurs="0" />
        <xs:element ref="distribution" minOccurs="0" />
        <xs:element ref="algorithm" minOccurs="0" />
        <xs:element ref="simulationSeed" minOccurs="0" />
        <xs:element ref="outputQuantity" minOccurs="0" />
        <xs:element ref="spineSeed" minOccurs="0" />

        <xs:element ref="fixedStepDt" minOccurs="0" />
        <xs:element ref="outputInterval" minOccurs="0" />
        <xs:element ref="tolerance" minOccurs="0" />

        <xs:element ref="calculation" minOccurs="0" />

        <xs:element ref="discretization" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReactionScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Specie" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Reaction" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Specie">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="kdiff" type="non-negative-real" />
      <xs:attribute name="kdiffunit" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Reaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Reactant" minOccurs="1" maxOccurs="unbounded" />
        <xs:element ref="Product" minOccurs="0" maxOccurs="unbounded"/>

        <xs:element name="forwardRate" type="non-negative-real" />
        <xs:element name="reverseRate" type="non-negative-real" minOccurs="0" />
        <xs:element name="Q10" type="xs:double" minOccurs="0" />
      </xs:sequence>

      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:string" />

    </xs:complexType>
  </xs:element>

  <xs:complexType name="substrate">
    <xs:attribute name="specieID" type="xs:string" use="required" />
    <xs:attribute name="n" type="xs:positiveInteger" />
    <xs:attribute name="power" type="non-negative-integer" />
  </xs:complexType>

  <xs:element name="Reactant" type="substrate" />

  <xs:element name="Product" type="substrate" />

  <xs:element name="Morphology">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Segment" />
          <xs:element ref="SpineType" />
          <xs:element ref="SpineAllocation" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Segment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="start" />
        <xs:element ref="end" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="region" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="start" type="point" />
  <xs:element name="end" type="point" />

  <xs:element name="SpineType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Section" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="id" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="SpineAllocation">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="spineType" type="xs:string" />
      <xs:attribute name="region" type="xs:string" />
      <xs:attribute name="areaDensity" type="non-negative-real" />

      <!-- deprecated -->
      <xs:attribute name="lengthDensity" type="non-negative-real" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Section">
    <xs:complexType>
      <xs:attribute name="width" type="non-negative-real" />
      <xs:attribute name="at" type="non-negative-real" />
      <xs:attribute name="regionClass" type="xs:string" />
      <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="InitialConditions">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="ConcentrationSet" />
          <xs:element ref="SurfaceDensitySet" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ConcentrationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NanoMolarity" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="region" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="NanoMolarity">
    <xs:complexType>
      <xs:attribute name="specieID" type="xs:string" use="required" />
      <xs:attribute name="value" type="non-negative-real" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="SurfaceDensitySet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PicoSD" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="region" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PicoSD">
    <xs:complexType>
      <xs:attribute name="specieID" type="xs:string" use="required" />
      <xs:attribute name="value" type="non-negative-real" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="StimulationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InjectionStim" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InjectionStim">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:sequence>
          <xs:element name="onset" type="non-negative-real" />
          <xs:element name="duration" type="non-negative-real" />
          <xs:element name="rate" type="non-negative-real" />
          <xs:element name="period" type="non-negative-real" minOccurs="0" />
          <xs:element name="end" type="non-negative-real" minOccurs="0" />

          <xs:element name="interTrainInterval" type="non-negative-real" minOccurs="0" />
          <xs:element name="numTrains" type="xs:positiveInteger" minOccurs="0" />
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="rates" />
        </xs:sequence>
      </xs:choice>

      <xs:attribute name="specieID" type="xs:string" use="required" />
      <xs:attribute name="injectionSite" type="xs:string" use="required" />
      <xs:attribute name="distribution" type="distribution" />
    </xs:complexType>
  </xs:element>

  <xs:element name="rates">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:whiteSpace value="preserve" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="OutputScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OutputSet" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="dependencies" type="xs:boolean" />
    </xs:complexType>
  </xs:element>

  <xs:element name="OutputSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OutputSpecie" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="filename" type="xs:string" />
      <xs:attribute name="region" type="xs:string" />
      <xs:attribute name="outputInterval" type="non-negative-real" />
    </xs:complexType>
  </xs:element>

  <xs:element name="OutputSpecie">
    <xs:complexType>
      <xs:attribute name="name" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="runtime" type="non-negative-real" />
  <xs:element name="geometry" type="geometry" />
  <xs:element name="depth2D" type="non-negative-real" />
  <xs:element name="distribution" type="distribution" />
  <xs:element name="algorithm" type="algorithm" />
  <xs:element name="simulationSeed" type="xs:integer" />
  <xs:element name="outputQuantity" type="outputQuantity" />
  <xs:element name="spineSeed" type="xs:integer" />

  <xs:element name="fixedStepDt" type="non-negative-real" />
  <xs:element name="outputInterval" type="non-negative-real" />
  <xs:element name="tolerance" type="non-negative-real" />
  <xs:element name="statistics" >
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="statistics" >
          <xs:attribute name="interval" type="non-negative-real" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="calculation" type="calculation" />

  <xs:element name="discretization">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="defaultMaxElementSide" minOccurs="0" type="non-negative-real" />
          <xs:element name="spineDeltaX" minOccurs="0" type="non-negative-real" />
          <xs:element name="elementShape" minOccurs="0" type="elementShape" />
          <xs:element name="surfaceLayers" minOccurs="0" />
          <xs:element name="maxAspectRatio" minOccurs="0" type="non-negative-real" />
          <xs:element ref="maxElementSide" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="maxElementSide">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="non-negative-real">
          <xs:attribute name="region" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="elementShape">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cuboid" />
      <xs:enumeration value="Curved" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="geometry">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2D" />
      <xs:enumeration value="3D" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="distribution">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BINOMIAL" />
      <xs:enumeration value="POISSON" />
      <xs:enumeration value="EXACT" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="algorithm">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INDEPENDENT" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="outputQuantity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NUMBER" />
      <xs:enumeration value="CONCENTRATION" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="calculation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GRID_STEPPED_STOCHASTIC" />
      <xs:enumeration value="GRID_STEPPED_CONTINUOUS" />
      <xs:enumeration value="GRID_EXACT" />
      <xs:enumeration value="GRID_ADAPTIVE" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statistics">
    <xs:restriction base="xs:string">
      <!-- just report a count of stimulation, diffusion, and reaction events -->
      <xs:enumeration value="none" />
      <!-- just report a count of injections by species -->
      <xs:enumeration value="injections" />
      <!-- report each event as specified in the model file -->
      <xs:enumeration value="by-channel" />
      <!-- report each event as present in the dependency graph -->
      <xs:enumeration value="by-event" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="attachment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="start" />
      <xs:enumeration value="end" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="point">
    <xs:attribute name="x" type="xs:decimal" />
    <xs:attribute name="y" type="xs:decimal" />
    <xs:attribute name="z" type="xs:decimal" />
    <xs:attribute name="on" type="xs:string" />
    <xs:attribute name="at" type="attachment" />
    <xs:attribute name="atFraction" type="non-negative-real" />
    <xs:attribute name="r" type="non-negative-real" use="required" />
    <xs:attribute name="label" type="xs:string" />
  </xs:complexType>

  <xs:simpleType name="non-negative-real">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="non-negative-integer">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
